.Header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.Header .navbar {
  margin: 0;
  padding: 1.5rem 4rem;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .Header .navbar {
    padding: 1rem;
    background: rgba(17, 17, 17, 0.95) !important;
  }
}

.Header .navbar .navbar-brand {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: 'Muli-Light', sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .Header .navbar .navbar-brand {
    position: initial;
    -webkit-transform: none;
            transform: none;
  }
}

.Header .navbar .navbar-toggler {
  border: none;
}

@media screen and (min-width: 1000px) {
  .Header .navbar .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.Header .navbar .navbar-collapse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.Header .navbar .navbar-collapse .navbar-nav .nav-link:hover {
  color: #fff;
}

.Header .navbar .navbar-collapse .navbar-nav .nav-link a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.Header .navbar .navbar-collapse .navbar-nav .nav-link a:hover {
  color: #fff;
}

.Landingpage .carousel .landing-info {
  position: absolute;
  left: 0;
  top: 32%;
  margin-left: 4rem;
  padding: 0 2rem 0 0;
  z-index: 1;
}

.Landingpage .carousel .landing-info h1 {
  color: #fff;
  font-size: 75px;
  font-weight: lighter;
  font-family: 'Muli', sans-serif;
}

.Landingpage .carousel .landing-info button {
  margin-top: 2rem;
  padding: 10px 20px;
  color: #000;
  border: none;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05rem;
  background: #fff;
}

@media screen and (max-width: 1000px) {
  .Landingpage .carousel .landing-info {
    margin-left: 1rem;
  }
  .Landingpage .carousel .landing-info h1 {
    font-size: 56px;
  }
}

.Landingpage .carousel .background {
  width: 100%;
  height: 100vh;
}

.Landingpage .carousel .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.Landingpage .carousel .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  padding: 0;
  margin: 1rem;
  bottom: 10%;
  width: 15%;
}

@media screen and (min-width: 1000px) {
  .Landingpage .carousel .carousel-indicators {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .Landingpage .carousel .carousel-indicators {
    margin-left: 1rem;
  }
}

.Landingpage .carousel .carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: block;
}

.Landingpage .carousel .carousel-indicators .active {
  width: 1.2rem;
  height: 1.2rem;
}

.Landingpage .carousel .carousel-control-next,
.Landingpage .carousel .carousel-control-prev {
  position: absolute;
  top: 81%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  opacity: 1;
}

.Landingpage .carousel .carousel-control-next:hover .carousel-control-next-icon,
.Landingpage .carousel .carousel-control-next:hover .carousel-control-prev-icon,
.Landingpage .carousel .carousel-control-prev:hover .carousel-control-next-icon,
.Landingpage .carousel .carousel-control-prev:hover .carousel-control-prev-icon {
  -webkit-filter: brightness(50%) !important;
          filter: brightness(50%) !important;
}

.Landingpage .carousel .carousel-control-next-icon,
.Landingpage .carousel .carousel-control-prev-icon {
  display: block;
  width: 12px;
  height: 12px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.Landingpage .carousel .carousel-control-next {
  margin-right: 2rem;
}

.Landingpage .carousel .carousel-control-prev {
  left: 80%;
}

@media screen and (min-width: 1600px) {
  .Landingpage .carousel .carousel-control-prev {
    left: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .Landingpage .carousel .carousel-control-prev {
    left: 85%;
  }
}

@media screen and (max-width: 800px) {
  .Landingpage .carousel .carousel-control-prev {
    left: 75%;
  }
}

@media screen and (max-width: 500px) {
  .Landingpage .carousel .carousel-control-prev {
    left: 55%;
  }
}

.Grid {
  height: 200vh;
  margin: 2rem 4rem;
}

@media screen and (max-width: 1000px) {
  .Grid {
    margin: 2rem 1rem;
  }
}

.Grid .container {
  margin: auto;
}

.Grid .container .grid-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.5rem;
}

.Grid .container .grid-header h2 {
  font-weight: normal;
}

@media screen and (max-width: 500px) {
  .Grid .container .grid-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Grid .container .grid-header .grid-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Grid .container .grid-header .grid-tabs span {
  border-bottom: 1px solid #000;
}

.Grid .container .col-sm-4 {
  padding: 1rem;
}

@media screen and (max-width: 500px) {
  .Grid .container .col-sm-4 {
    padding: 0.4rem;
  }
}

.ProductPreview .card {
  border: none;
}

.ProductPreview .card .card-body {
  padding: 0;
}

.ProductPreview .card .card-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  .ProductPreview .card .card-body img {
    height: 200px;
  }
}

.ProductPreview .card .card-body .prod-details {
  margin-top: 1rem;
}

.ProductPreview .card .card-body .prod-details .name {
  color: #555;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.5rem;
}

.ProductPreview .card .card-body .prod-details .price {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  line-height: 0.5rem;
}
/*# sourceMappingURL=App.css.map */